.todo{
    width: :20%;
    box-sizing: border-box;
    background-color: blue;
    padding: .5em;
    border-radius: .7em;
}

.todo h3{
margin:0px;
}

.todo p{
    margin:0px;
}
.completed{
    opacity: 50%;
    background-color: orange;
}